@charset "utf-8";

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Bold.otf') format(opentype);
    font-weight: normal;
    font-size: normal; 
}

@font-face {
    font-family: 'Benton mod';
    src: url('fonts/BentonModDisp-Semibold.otf') format(opentype);
    font-weight: normal;
    font-size: normal;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header#topo {
    display: flex;
    background-image: url('Imagens/Barber.png');
    background-size: cover;
    background-position: top center;
    height: 600px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius:50px ;
}

section.hero {
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero h1 {
    font-family: 'Benton mod';
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 100px;
    padding-top: 50px;

}
