@charset "utf-8";

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Bold.otf') format(opentype);
    font-weight: normal;
    font-size: normal; 
}

@font-face {
    font-family: 'Benton mod';
    src: url('fonts/BentonModDisp-Semibold.otf') format(opentype);
    font-weight: normal;
    font-size: normal;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}
section#hero {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 600px;
}
section#hero img {
    background-image: url('Imagens/Barber.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 60%;
}

div.menu{
    position: absolute;
    top: 30px;
    left: 20px;
    transform: translate(100%);
    color: white;
}

div > nav.navegador {
    display: flex;
    justify-content: center;
    align-items: center;
}

div > nav > ul.pesquisa {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    list-style: none;
}

div nav ul.pesquisa li {
    font-family: 'Creato Display';
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0.5px ;
}
